package app

import (
	"go.uber.org/fx"

	"github.com/went/app/bootstrap"
	"github.com/went/app/config"
)

var Module = fx.Module(
	"app",
	fx.Provide(
		config.NewConfig,
	),
	fx.Invoke(
		bootstrap.RegisterBootstrap,
	),
)
